__pycache__/

slurm-*.out
*cache/
*.p
.ipynb_checkpoints/
*cache/

build/
dist/
vec2text.egg-info/

embeddings/
logs/
notebook*/
msmarco_msl128_hypotheses/
saves/
slurm-scripts/
wandb/

venv/
new_venv/
logits_dataset/
logits_inversion_*
*.log

my_model/

entity_private_prompts_dataset
*.pkl

tmp
*.safetensors

data
tmp*

*.csv

synthetic_gpts_hunter_data
synthetic_gpts_hunter_ques_answer
synthetic_gpts_hunter_ques_answer_new

*.json
*test

data_legacy

saves

*.egg-info
datasets/
inverters/